/* src/styles/ItemDashboard.css */
.item-dashboard {
    /* padding: 20px; */
    overflow-x: hidden;
    display: flex;
  }
  
  .item-dashboard h1 {
    margin-bottom: 20px;
  }
  
  .item-dashboard table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .item-dashboard th,
  .item-dashboard td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .item-dashboard th {
    background-color: #f2f2f2;
  }


  .modal {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }

  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
  }

  /* Input Fields Styling */
  .modal-content input[type="text"],
  .modal-content input[type="number"],
  .modal-content select {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 16px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Makes sure the padding doesn't affect the final width */
  }

  .form-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px; /* Space between buttons */
  }
  
  .submit-button {
    background-color: #4CAF50; /* Example green color */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }
  
  .submit-button:hover {
    background-color: #45a049;
  }
  
  .close-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }
  
  .close-button:hover {
    background-color: darkred;
  }

  /* Adding some padding around the form elements */
  .form-group {
    padding: 10px;
  }

  /* Aligning labels to the left */
  .modal-content label {
    display: block;
    margin-top: 10px;
  }


  /* src/styles/ItemTable.css */
.item-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 4px;
  overflow: hidden; /* Ensures the border radius applies to the table */
  margin-top: 20px; /* Spacing from any elements above */
}

.item-table th,
.item-table td {
  text-align: left;
  padding: 12px 15px;
  font-size: 0.9em;
}

.item-table th {
  background-color: #f4f4f4;
  color: #333;
  font-weight: bold;
  border-bottom: 1px solid #e1e1e1;
}

/* Zebra striping for rows */
/* .item-table tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
} */

/* Hover effect for rows */
.item-table tbody tr:hover {
  background-color: #f1f1f1;
}

/* Styling for the 'In Stock' and 'Out of Stock' indicators */
.stock-indicator {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.in-stock {
  background-color: #4CAF50;
}

.out-of-stock {
  background-color: #f44336;
}


/* Style for checkboxes in the table */
.item-table input[type="checkbox"] {
  transform: scale(1.5); /* Make checkboxes larger */
  margin: 0; /* Remove any default margin */
  cursor: pointer; /* Change cursor to pointer when hovering over the checkbox */
}

/* Optional: Add custom styling for the 'Select All' checkbox for consistency */
.item-table th input[type="checkbox"] {
  vertical-align: middle; /* Align the checkbox vertically in the middle */
}
  

/* Add this to your existing ItemDashboard.css file */

.item-dashboard table {
  width: 100%;
  border-collapse: separate; /* Adjust this if you want to have space between cells */
  border-spacing: 0; /* Removes the space between cells */
}

.item-dashboard th,
.item-dashboard td {
  border-left: none; /* Remove left border from table cells */
  border-right: none; /* Remove right border from table cells */
}

.item-dashboard th:first-child,
.item-dashboard td:first-child {
  border-left: none; /* Ensure there is no border for the first cell of each row */
}

.item-dashboard th:last-child,
.item-dashboard td:last-child {
  border-right: none; /* Ensure there is no border for the last cell of each row */
}

/* To remove the border from the bottom of the th elements */
.item-dashboard th {
  border-bottom: none;
}

/* To remove the border from the top of the tbody */
.item-dashboard tbody tr:first-child td {
  border-top: none;
}

.item-dashboard .controls {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.add-new-item-btn {
  background-color: #4CAF50; /* Green background */
  color: white; /* White text */
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.add-new-item-btn:hover {
  background-color: #367c39; /* Darker green background on hover */
}

/* Optional: Add a focus state for accessibility */
.add-new-item-btn:focus {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.options-dropdown .options-btn {
  background-color: #dddddd; /* Grey background */
  color: black; /* Black text */
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.options-dropdown .arrow-down {
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  display: inline-block;
  margin-left: 5px;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
}

.search-container .search-input {
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  flex-grow: 1;
}

.search-container .search-btn, .filter-btn, .sort-btn {
  background-color: #dddddd;
  border: none;
  padding: 10px;
  cursor: pointer;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

/* Tooltip container */
.btn-tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.btn-tooltip .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width value to align it */
  
  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.btn-tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

/* Show the tooltip text when you hover over the tooltip container */
.btn-tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.dashboard-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.new-item-category-btn {
  background-color: #4CAF50; /* Green background */
  color: white; /* White text */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.summary {
  width: 30%;
}

.total-categories, .total-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 5px;
}

.total-categories {
  border-bottom: 1px solid black;
}

.total-categories h3, .total-items h3 {
  margin: 0;
  padding: 0;
  font-size: 1em; /* Adjust as necessary */
}

.total-categories p, .total-items p {
  margin: 0;
  padding: 0;
}

.dashboard-content {
  padding: 0 20px;
  flex-grow: 1;
  margin-left: 250px; /* Same as the width of the sidebar */
  overflow-y: auto;
  overflow-x: hidden;
  /* height: 100vh; */
}





  
  