/* Styles for the main application */
.App {
  text-align: center;
}

/* Styles for the application logo */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Animation for the application logo */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Styles for the header of the application */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Styles for hyperlinks in the application */
.App-link {
  color: #61dafb;
}

/* Keyframes for spinning the application logo */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
